body {
    background-color: #e9ebee;
}

.bg-dark {
    background-color: black !important;
    border-bottom: 1px solid red;
}

.dropdown-right {
    margin-right: 8rem;
}

.top-section {
    margin-top: 2rem;
}

.profile-head {
    border: 1px solid #cecece;
    background-color: white;
    padding-top: 7rem;
    padding-bottom: 2rem;
    text-align: center;
    border-radius: 0.5rem;
}

.profile-head img {
    width: 250px;
}

.profile-body {
    border: 1px solid #cecece;
    background-color: white;
    border-radius: 0.5rem;
    margin-bottom: 2rem;
}

.home-statuses {
    border: 1px solid #cecece;
    background-color: white;
    border-radius: 0.5rem;
    padding: 1rem;
    margin: 1rem 0;
}

.img-circle{
    border-radius: 50%;
}
.profile-status{
    margin: 1rem 0;
    padding: 1rem 2rem;
    border-left: 1px solid rgb(156, 156, 156);
}
@media (max-width: 768px){
    ul.flex-column li{
        display: inline;
    }
}