{% extends 'base.html' %}
{% load bootstrap4 %}

{% block styles %}
{{block.super}}
{% endblock %}

{% block content %}
<div class="container top-section">
    <div class="row">
        <div class="col-md-12 profile-head">
            <a href="">
                {% if profile.user_upic %}
                <img src="{{profile.user_upic.cdn_url}}" alt="">
                {% else %}
                <img src="/static/img/avatah.png" alt="">
                {% endif %}
            </a>
        </div>
    </div>
</div>
<div class="container top-section">
    <div class="row profile-body">
        <div class="col-4">
            <div class="list-group list-group-flush" id="list-tab">
                <a class="list-group-item list-group-item-action active" id="list-home-list" href="#" aria-controls="home">Home</a>
                <a class="list-group-item list-group-item-action" id="list-profile-list" href="#" aria-controls="profile">Edit Info</a>
                <a class="list-group-item list-group-item-action" id="list-messages-list" href="#" aria-controls="messages">Location</a>
                <a class="list-group-item list-group-item-action" id="list-settings-list" href="#" aria-controls="settings">Businesses</a>
            </div>
        </div>
        <div class="col-8">
            {% if user.username == profile.user.username %}
                {% if profile.user_hood.name|length == 0 %}
                <div class="row">
                    <div class="col-12 text-center">
                        <h4>Set up your hood to make posts</h4>
                    </div>
                </div>
                {% else %}
                <form action="" method="POST">
                    {% csrf_token %}
                    {% bootstrap_form form %}
                    <div class="form-group">
                        <input type="submit" value="Post">
                    </div>
                </form>
                {% endif %}
                <hr>
            {% endif %}

            {% for status in statuses %}
            <div class="row">
                <div class="col-12">
                    <p>{{status.status_content}}</p>
                    <p class="small"> {{status.date_posted|timesince}} </p>
                </div>
            </div>
            <hr>
            {% empty %}
            <h4 class="text-center">No statuses for this user</h4>
            {% endfor %}
            
        </div>
    </div>
</div>
{% endblock %}